<!DOCTYPE html>
<html>
<head>
    <title>Music Search Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Song Search</h1>
                <h2>Enter the Song</h2>
                <form action="/similar_songs" method="GET">
                    <input type="text" id="searchInput" name="liked_song" placeholder="Enter song title...">
                    <button type="submit">Search</button>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Artist</th>
                            <th scope="col">Album</th>
                            <th scope="col">Year</th>
                        </tr>
                    </thead>
                    <tbody id="searchTableBody">
                        <!-- Table body content will be dynamically populated here -->
                        {% for song in songs %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ song['Title'] }}</td>
                            <td>{{ song['ArtistName'] }}</td>
                            <td>{{ song['Album'] }}</td>
                            <td>{{ song['Year'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>