<!DOCTYPE html>
<html>
<head>
    <title>Music Search Web Test</title>
    <link rel=”stylesheet” href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity=”sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T” crossorigin=”anonymous”>
</head>
<body>
    <div class=”container”>
    <div class=”row”>
    <div class=”col-md-12">
    <h1 class=>Find Songs!</h1>
    <h2 class=>Enter the Song</h2>
    <form id=”form”>
    <input class=”form-control” id=”user-input” placeholder="Enter Song">
    <button id=”button” class=”btn btn-secondary”>Find Movies!</button>
    </form>
    <table class="table" cellpadding="10">
        <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Song Name</th>
        <th scope="col">Placehold</th>
        <th scope="col">Year</th>
        <th scope="col">Plachold2</th>
        </tr>
        </thead>
        <tbody>
        </div>
        </div>
        </div>
<body>
</html>